.h1-style {
    text-align: center;
    color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;

}

.submit-btn {
    background-color: rgb(232, 235, 195);
    border-color: black;
    color: black;
}

.weather-box {
    border: solid 3px black;
    color: rgb(232, 235, 195);
    width: 8rem;
    height: 14rem;
    margin-left: 1.7rem;
    text-justify: auto;
    padding: 3px;
}

.form-mrg{
    margin-left: 30rem;
}

.loc-mrg {
    margin-left: 4.5rem;
}

.btn-mrg{
    margin-left: 5.5rem;
    margin-bottom: 25px;
}

.bg-clr-li {
    background-color: rgba(115, 152, 255, 0.719);
}

.list-style {
    list-style: none;
};


