.h1-style {
    text-align: center;
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;

}
.head-style {
    text-align: center;
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.lat {
    text-align: center;
}

.form {
    margin: 18rem;
    margin-top: 10px;
}

.submit-btn {
    background-color: steelblue;
}

.border {
    border: solid 3px black;
    display: inline-block;
    margin: 3rem;
    
}